name: Tests

on:
  - push
  - pull_request

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [8.2, 8.1, 8.0, 7.4, 7.3, 7.2]
        laravel: ['11.0', ^7.0, ^8.0, ^9.0, ^10.0]
        include:
          - laravel: ^7.0
            testbench: ^5.0
            phpunit: ^8.5
          - laravel: ^8.0
            testbench: ^6.0
            phpunit: ^9.3
          - laravel: ^9.0
            testbench: ^7.0
            phpunit: ^9.5
          - laravel: ^10.0
            testbench: ^8.0
            phpunit: ^9.5
          - laravel: '11.0'
            testbench: ^9.0
            phpunit: '8.2'
        exclude:
          - laravel: ^10.0
            php: 8.0
          - laravel: ^10.0
            php: 7.4
          - laravel: ^10.0
            php: 7.3
          - laravel: ^10.0
            php: 7.2
          - laravel: ^9.0
            php: 7.4
          - laravel: ^9.0
            php: 7.3
          - laravel: ^9.0
            php: 7.2
          - laravel: ^8.0
            php: 8.1
          - laravel: ^8.0
            php: 7.2
          - laravel: ^7.0
            php: 8.2
          - laravel: ^7.0
            php: 8.1
          - laravel: '11.0'
            php: 8.1
          - laravel: '11.0'
            php: 8.0
          - laravel: '11.0'
            php: 7.4
          - laravel: '11.0'
            php: 7.3
          - laravel: '11.0'
            php: 7.2

    name: P${{ matrix.php }} - L${{ matrix.laravel }}

    steps:
      - name: Update apt
        run: sudo apt-get update

      - name: Install GraphViz
        run: sudo apt-get install graphviz

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          tools: composer:v2
          coverage: pcov

      - name: Install dependencies
        run: |
          composer require "illuminate/support:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" "phpunit/phpunit:${{ matrix.phpunit }}" --no-interaction --no-update
          composer update --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit --verbose --whitelist=src --coverage-clover=build/coverage/coverage.clover

      - name: Upload Scrutinizer coverage
        uses: sudo-bot/action-scrutinizer@latest
        with:
          cli-args: --format=php-clover build/coverage/coverage.clover
